alabaster==0.7.12
aniso8601==4.0.1
argh==0.26.2
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
certifi==2018.10.15
chardet==3.0.4
Click==7.0
coverage==4.5.1
docutils==0.14
Flask==1.0.2
Flask-Cors==3.0.6
Flask-RESTful==0.3.6
gevent==1.3.7
greenlet==0.4.15
gunicorn==19.9.0
idna==2.7
imagesize==1.1.0
itsdangerous==1.1.0
Jinja2==2.10
livereload==2.5.2
MarkupSafe==1.1.0
more-itertools==4.3.0
packaging==18.0
pathtools==0.1.2
pluggy==0.8.0
port-for==0.3.1
py==1.7.0
Pygments==2.2.0
pyparsing==2.3.0
pytest==3.10.0
pytest-cov==2.6.0
pytz==2018.7
PyYAML==3.13
requests==2.20.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinx-autobuild==0.7.1
sphinxcontrib-websupport==1.1.0
tornado==5.1.1
urllib3==1.24.1
watchdog==0.9.0
Werkzeug==0.14.1
