[Unit]
Description={{ app_user | title }} Worker Service
PartOf={{ app_user }}.target

[Service]
EnvironmentFile=/etc/opt/{{ app_user }}/{{ app_user }}.env
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory=/opt/{{ app_user }}/{{ app_user }}
ExecStart=/opt/{{ app_user }}/env/bin/python -u -m {{ app_user }} work
Restart=on-failure
SyslogIdentifier={{ app_user }}
