{
    "domain": "https://api.com/rest/media",
    "data": {
        "dir_path": "data",
        "media": {
            "dir_path": "media",
            "audios": {
                "dir_path": "audios"
            },
            "images": {
                "dir_path": "images"
            }
        },
        "shelve": {
            "dir_path": "shelve",
            "audios": {
                "dir_path": "audios",
                "database": "audios.db"
            },
            "images": {
                "dir_path": "images",
                "database": "images.db"
            }
        },
        "json": {
            "dir_path": "json",
            "audios": {
                "dir_path": "audios",
                "database": "audios.json"
            },
            "images": {
                "dir_path": "images",
                "database": "images.json"
            }
        },
        "cloud": {
            "swift": {
                "auth_url": "",
                "object_store_url": "",
                "username": "",
                "password": "",
                "container_prefix": "",
                "container_suffix": ""
            }
        }
    }
}
