MEDIARK_DOMAIN=                                                 
MEDIARK_CLOUD_SWIFT_OBJECT_STORE_URL=
MEDIARK_CLOUD_SWIFT_USER_NAME=
MEDIARK_CLOUD_SWIFT_PASSWORD=
MEDIARK_CLOUD_SWIFT_CONTAINER_PREFIX=
MEDIARK_CLOUD_SWIFT_CONTAINER_SUFFIX=