[Unit]
Description={{ app_user }} Workers
Requires={{ app_user }}-1@{{ app_port1 }}.service {{ app_user }}-2@{{ app_port2 }}.service {{ app_user }}-3@{{ app_port3 }}.service

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes


[Install]
WantedBy=multi-user.target
