- name: "Deploy {{ app_user }} Systemd Service File"
  template:
    src: service.j2
    dest: "{{ service_path }}/{{ app_user }}.service"
    mode: 0755

- name: "Deploy Environment Variables Empty File"
  template:
    src: mediark.sh.j2
    dest: "/etc/profile.d/{{ app_user }}.sh"
    mode: 0644

- name: "Restart {{ app_user }} Service"
  systemd:
    name: "{{ app_user }}"
    enabled: true
    state: restarted
    daemon_reload: true
